<!-- Novo Arquivo -->
<div class="modal fade" id="modalNovoArquivo" tabindex="-1" role="dialog" aria-labelledby="modalNovoArquivoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNovoArquivoLabel">Novo Arquivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="/Arquivo/Create/@idPai">
                    <div>
                        <p>Selecionee:</p>
                        <input name="arquivos" id="arquivos" type="file">
                    </div>
                    <input value="@idPai" nome="id" type="hidden">
                    <div>
                        <input id="upload" value="Upload Selected Files" type="button">
                    </div>

                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>