@model saturnApp.Models.Arquivo

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Arquivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div>
                <p>Selecionee:</p>
                <input type="file" name="arquivos" id="arquivos"/>
            </div>
            <input type="hidden" value="@ViewBag.PaiId" nome="id" />
            <div>
                <input type="button" 
                    id="upload" 
                    value="Upload Selected Files" />
            </div>

            <!-- <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div> -->
        </form>
    </div>
</div>

<div>
    <a asp-controller="Diretorio" asp-action="Index" 
        asp-route-id="@ViewBag.PaiId">Back to List</a>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $("#upload").click(function (evt) {
                var fileUpload = $("#arquivos").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length ; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "/Arquivo/CreateAjax/@ViewBag.PaiId",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        alert(message);
                    },
                    error: function () {
                        alert("There was error uploading files!");
                    }
                });
            });
        });
    </script>
}
