@model saturnApp.Models.Arquivo

@{
    ViewData["Title"] = "Create";
}

<h4>Criar Arquivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div>
                <p>Selecione:</p>
                <input type="file" name="arquivos" id="arquivos"/>
            </div>
            <input type="hidden" value="@ViewBag.PaiId" nome="id" />
            <div>
                <input type="button" 
                    id="upload" 
                    value="Upload Selected Files" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Diretorio" asp-action="Index" 
        asp-route-id="@ViewBag.PaiId">Voltar</a>
</div>
