@using saturnApp.Views.Manage
@inject SignInManager<Usuario> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="list-group">
  <a class="@ManageNavPages.IndexNavClass(ViewContext) list-group-item list-group-item-action" 
    asp-action="Index">
    Perfil
  </a>
  <a class="@ManageNavPages.ChangePasswordNavClass(ViewContext) list-group-item list-group-item-action"
    asp-action="ChangePassword">Senha</a>
</div>
