@model IndexViewModel
@{
    ViewData["Title"] = "Perfil";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Username</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Email</label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control" />
                    
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
