@model saturnApp.Models.Diretorio

@{
    ViewData["Title"] = "Editar";
}

<h4>Editar @Html.DisplayFor(model => model.Nome)</h4>
<hr />
<div class="text-center">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>       
        <input type="hidden" asp-for="PaiId" />
        <div class="form-group">
            <div class="btn-group">
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-warning" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
