@using Microsoft.AspNetCore.Identity
@using saturnApp.Models

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = "Saturn Cloud";
}

<main role="main">
    <section class="jumbotron jumbotron-fluid text-center bginicial">
    <div class="container">
        <h1 class="display-3 text-light">Bem-Vindo a Saturn Upload!</h1>
        <p class="lead text-light">Seu novo serviço de armazenamento na nuvem.</p>
        @if (SignInManager.IsSignedIn(User))
        {
            <p>
                <a asp-controller="Diretorio" asp-action="Index" class="btn btn-warning">Navegar</a>
            </p>
        } else {
            <p class="lead text-light">Entre com uma conta já existente, ou crie uma nova</p>
            <p>
                <a asp-controller="Usuario" asp-action="Login" class="btn btn-warning">Entrar</a>
                <a asp-controller="Usuario" asp-action="Register" class="btn btn-warning">Criar Conta</a>
            </p>
        }
    </div>
    </section>
</main>